html, body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  display: block;
  background-color: white;
}

#main {
  width: 100%;
  min-height: 100vh;         
  display: flex;
  justify-content: center;     
  align-items: center;         
  padding: 20px;
  background-color: white;
  color: black;
}

.app-wrapper {
  display: flex;
  align-items: center;         
  gap: 80px;                  
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.scoreboard-container {
  width: 100px;
}

