html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#main {
  width: 100% !important;
  min-height: 100vh;         
  display: flex;
  justify-content: center;     
  align-items: center;         
  padding: 20px;
  background-color: #f4f4f4;
}

.app-wrapper {
  display: flex;
  align-items: center;         
  gap: 80px;                  
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.scoreboard-container {
  width: 100px;
}

